@using DotNetCleanTemplate.WebClient.Components

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        @if (IsLoginPage(routeData.PageType))
        {
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        }
        else
        {
            <AuthenticationGuard>
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            </AuthenticationGuard>
        }
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    private static bool IsLoginPage(Type pageType)
    {
        return pageType.Name == "Login";
    }
}
